$main--color: #55a94f;
$secondary--color: #7fd0ff;

.main--text {
    color: $main--color;
}

.main--bgcolor {
    background-color: $main--color;
}

.secondary--text {
    color: $secondary--color;
}

body {
    overflow-x: hidden;
}

footer {
    position: relative;
    background-color: #404040;
    margin-top: 100px;
}
.error {
    color: white;
}

.logo {
    position: absolute;
    z-index: 2;
}
.headline {
    margin-bottom: 40px;
}


.section-title-main {
    &:before {
        content: "-";
        color: $main--color;
        display:inline-block;
        transform: scaleX(3);
        margin-left: -50px;
        margin-right: 30px;
    }
}
.slider-text-middle-main {
    padding:20px;
}

//contact
.contact-container {
    padding: 70px 30px;
    .call-us {
        width: 100%;
        .contact-left {
            padding-top: 50px;
            h1 {
                line-height: 1.4;
                margin-bottom: 30px;
            }
        
            h4 {
                line-height: 1.4;
                margin-bottom: 30px;
            }
        
            h6 {
                line-height: 1.4;
                margin-bottom: 30px;
            }
        }
        .contact-right {
            background-color: $main--color;
            padding: 30px;
            input, select {
                font-size: 1.4rem !important;
            }
        }
    }
}

#progress-bar-container {
    margin-bottom: 10px;
}

.checkbox {
    margin-bottom: 40px;
    .fake_input--checkbox {
        width: unset;
        left: 20px;
    }
}

.en__component--page {
    display: none;
}

.btn-footer {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}

@media (max-width: 997px) {
    h1 {
        font-size: 3.6rem !important;
    }
    h2 {
        font-size: 2.2rem !important;
    }
    h3 {
        font-size: 2rem !important;
    }
    h4 {
        font-size: 1.9rem !important;
    }
    h5 {
        font-size: 1.8rem !important;
    }
    h6 {
        font-size: 1.7rem !important;
    }

    .section-title-main {
        &:before {
            margin-left: 0;
            margin-right: 10px;
        }
    }
    .email-content {
        padding: 80px 0;
        .scroll-btn {
            margin-left: 3%;
        }
    }
    .contact-left {
        padding-top: 20px !important;
    }
    .scroll-btn-container {
        text-align: center;
        margin-bottom: 50px;
    }

    .btn-footer {
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 0;
        width: 100%;
        text-align: left;
        margin-top: 0;
        margin-bottom: 5px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
}
@media (max-width: 991px) {
    .architecture-details {
        opacity: 1;
        bottom: 10px;
    }
}

// modified for policy petition campaign
.bg-transparent-deep-main { background: rgba(242, 68, 62,.9) !important}

#mc-form {
    height: 0;
    overflow: hidden;
}

.loading-cover {
    position:fixed;
    display: none;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0, 0.8);
    text-align: center;
    padding-top: 48vh;
    .fa {
        color: #009302;
    }
}

.email-suggestion {
    color: rgba(204, 0, 0,1);
    text-align: right;
    cursor: pointer;
}

.naviagtor--down {
    position: absolute;
    bottom: 10px;
    right: 2%;
    width: 40px;
    display: none;
}
@media (max-width: 997px) {
    .naviagtor--down {
        transform: translateX(-50%);
        left: 50%;
    }
}

.center__items-container {
    padding-top: 100px;
    padding-left: 20%;
    .center__items {
        position: relative;
        margin-bottom: 100px;
        display: flex;
        transform: scale(1.1);
        ._icon {
            width: 11%;
            text-align: right;
            margin-right: 25px;
        }
        ._text {
            width: 90%;
            text-align: left;
        }
    }
}

.__navigation_left {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 10px 20px;
    z-index: 100;
    transform: scale(2);
}

.__navigation_right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: scale(2);
    z-index: 100;
    padding: 10px 20px;
}

#owl-our-members-container {
    height: 500px;
    padding-top: 40px;
}

.owl-our-members {
    margin-top: 80px;
    padding: 10px 50px; 
    .item{
        background: #fff;
        border: 1px solid #d9d9d9;
        margin: 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
        .owl-item-img {
            border-bottom: 1px solid #d9d9d9;
        }
        .owl-item-title {
            padding: 10px;
            height: 76px;
        }
        .owl-item-description {
            padding: 10px;
            height: 100px;
        }
        .owl-item-footer {
            padding: 10px;
            .item-year,.item-percent {
                font-size: 2rem;
                color: black;
            }
            .item-percent {
                color: $main--color;
            }
        }
    }
}
@media (min-width: 1441px) {
    #owl-our-members-container {
        height: 700px;
        padding-top: 100px;
    }
    ._icon {
        width: 7% !important;
    }
}
.navbar-brand.inner-link {
    margin-top: 15px;
    padding: 2px 15px;
    height: 30px;
    border-right: 1px solid black;
}

.__header_link {
    display: flex;
    a:nth-child(2) {
        height: 54px;
        padding-top: 5px;
        margin-left: 20px;
        display: flex;
        align-items: center;
        img {
            width: 25px;
            height: 30px;
        }
    }
}
.tab-style-3 li {
    font-size: 1.5rem;
}
.square-btn {
    box-shadow: none !important;
    margin: 0 2%;
    color: black;
    font-size: 1.5rem;
    width: 100%;
    background-color: transparent;
    height: 7.5vw;
    border: 1.5px solid #d9d9d9;
    font-weight: 800;
    letter-spacing: 1.2pt;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: normal;
}

.square-btn.active {
    border: 1.5px solid #8DBC81;
    color: #8DBC81;
    background-color: #EFF6EE;

}

.__news_title {
    height: 80px;
    display: block;
}
.__news_content {
    height: 80px;
}

.thank-you-block {
    display: flex;
    align-items: center;
    justify-content: center;
    .thank-you-block-content {
        width: 100%;
        display: block;
    }
}


.__centered-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 580px;
    .architecture-section-content-container {
        width: 60%;
        padding-left: 20px;
        .__slash {
            margin-left: -27px;
            width: 20px;
            display: inline-block;
        }
        h2 {margin-top: 40px; line-height: 1.5; letter-spacing: 5px;}

    }
}

@media (min-width: 768px) { 
    .hidden-sm {
        display: none;
    }
}

@media (max-width: 767px) {

    .owl-next,.owl-prev {
        display: none;
    }

    .__navigation {
        display: none;
    }

    .__navigation_left {
        padding: 10px 15px 10px 5px;
        transform: scale(3);
    }
    
    .__navigation_right {
        padding: 10px 5px 10px 15px;
        transform: scale(3);
    }

    .owl-our-members {
        margin: unset;
        padding: 10px 30px;
        .item {
            margin: 10px;
            box-shadow: unset;
        }
    }
    .center__items-container {
        padding-top: 50px;
        padding-left: unset;
        .center__items {
            position: relative;
            margin-bottom: 50px;
            display: flex;
            transform: scale(0.9);
            ._icon {
                width: 15%;
                text-align: right;
                margin-right: 25px;
            }
            ._text {
                width: 85%;
                text-align: left;
            }
        }
    }

    .__centered-section {
        min-height: 380px;
        .architecture-section-content-container {

            width: 100%;
            padding-top: 50px;
            padding-left: 52px;
            padding-right: 20px;
            // .__slash {
            //     margin-left: -27px;
            //     width: 20px;
            //     display: inline-block;
            // }
            // h2 {margin-top: 40px; line-height: 1.5; letter-spacing: 5px;}
    
        }
    }
    

    .__slider-tab-nav {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
    }

    .__news_block {
        div {
            margin: 20px 0;  
        }   
    }
    h6 {
        font-size: 2rem;
    }
}

// text-sizes
.__paragraph {
    font-size: 1.8rem !important;
}
@media (min-width:768px) and (max-width:1440px) {
    .__paragraph {
        font-size: 1.55rem !important;
    }   
}
